<main class="main">
  <div class="inner">
    <div class="tweet__wrapper">
      <p class="tweet__heading">
        <%=@tweet.title%>
      </p>
      <%= link_to "by #{@tweet.user.name}",user_path(@tweet.user), class: :tweet__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if current_user == @tweet.user %>
        <div class="tweet__manage">
          <%= link_to "編集する", edit_tweet_path(@tweet), class: :tweet__btn %>
          <%= link_to "削除する", tweet_path(@tweet), method: :delete, class: :tweet__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="tweet__image">
        <%=image_tag @tweet.image%>
      </div>
      <div class="tweet__body">
        <div class="tweet__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @tweet.catch_copy %>
          </p>
        </div>
        <div class="tweet__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= "プロトタイプのコンセプト" %>
          </p>
        </div>
      </div>
      <div class="tweet__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: [@tweet, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
          <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
            <%= comment.text %>
            <%= link_to comment.user.name, "/users/#{comment.user_id}" %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
